@{
    Layout = "_Layout";
}
<section>
               <section class="select">
                  <div class="select__container">
            <div class="nav_wrapper">
                <div class="nav__scroll">
                     <div class="select__navigation nav_block">
                        <a class="select__link" href="/">
                           <p class="select__navigation_text">Main</p>
                        </a>
                        <img class="select__arrow_gray" src="/tpl/static/media/select__arrow_gray.9aba3756.svg" alt="arrow">
                                                                                                                <a href="javascript:void(0)" style="cursor:default;" class="select__link">
                                    <p class="select__navigation_text">
                                                                                                                                    Каталог                                                                                                                        </p>
                                </a>
                                                                         </div>
                </div>
            </div>
                     <div class="select__wrap_grey" style="padding-bottom: 0;">
                        <div class="select__wrapper_center_gray">
                           <div class="select__wrapper_title">
                              <p class="select__title">Catalog</p>
                           </div>
                           <p class="select__subtitle">The catalog contains all the products presented on the site.</p>
                        </div>
                     </div>
                     
                     <div class="search_catalog">
                        <div class="select__wrapper">
                           <button class="main__button_search searchBtn catalog_search" data-lang="ru"><img src="/tpl/static/media/search.svg">&nbsp;&nbsp;<span>Search</span></button>
                        </div>
                     </div>
                  </div>
               </section>

               <section class="">
                  <div class="select__wrapper_width p-relative new__select-wrapper">

                     <div class="select__start"></div>

                     <div class="select__wrapper">
                        
                        <div class="select__type">

                                                            <a class="select__link " href="/catalog/eft">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/a3K4VFAMH29JRVdjm7oUhEbY4HRxrd5D.png" alt="Escape <span>From</span> Tarkov">
                                        <p class="select__text">Escape <span>From</span> Tarkov</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/warzone2">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/eoOfT3HkAZjGwWbTxsjioHag4M5GAtcI.png" alt="Warzone <span>2.0</span>">
                                        <p class="select__text">Warzone <span>2.0</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/warface">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/K26878HGyROWH2Jqyygy7yP94FK13S9P.png" alt="Warface">
                                        <p class="select__text">Warface</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/apex">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/SCN4on-lkqAgEnr3EniaM86n_YqWygLC.png" alt="Apex">
                                        <p class="select__text">Apex</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/valorant">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/HTLBQh_iZBRUNWUe6smxnOdc8r72zaVN.png" alt="Valorant">
                                        <p class="select__text">Valorant</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/rust">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/PbDDI1CBwLjO4_Xdu-Vd1P_m7XIdPUy1.png" alt="Rust">
                                        <p class="select__text">Rust</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/cs2">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/s6IbQ0AYe9pn_lxM5bNdhLexqbohGMIK.png" alt="Counter <span>Strike</span> 2">
                                        <p class="select__text">Counter <span>Strike</span> 2</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/fortnite">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/uKbMJ9WrIZmpS_orh73UZxIJg0sL_GgX.png" alt="Fortnite">
                                        <p class="select__text">Fortnite</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/war-thunder">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/RU_fcwsyIPi6wu0gjgjYbtoIVcjRIoMH.png" alt="War <span>Thunder</span>">
                                        <p class="select__text">War <span>Thunder</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/dayz">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/3pGTbgi7ZVjagS3iFt57_e8koXIiZTe8.png" alt="Dayz">
                                        <p class="select__text">Dayz</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/marauders">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/4zayU9goqHtX4E8uO2uibiyQ4ALtDreL.png" alt="Marauders">
                                        <p class="select__text">Marauders</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/pubg">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/YG8noZllUNegewlLxSIgBeHh498J6DJr.png" alt="PUBG">
                                        <p class="select__text">PUBG</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/csgo">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/kv4DCP009_wE4I2EYj4wkfKFEMDWzMHJ.png" alt="Counter-Strike: <span>Global</span> Offensive">
                                        <p class="select__text">Counter-Strike: <span>Global</span> Offensive</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/Unturned">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/1AH6tsOfE8E_VzZX9iZTfO7K28XJlnY5.png" alt="Unturned">
                                        <p class="select__text">Unturned</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/cod_mw2">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/4f9PJsgVadXEzR7oTMxKCZ4OLCxzzrQF.png" alt="COD: <span>Modern</span> Warfare <span>II</span>">
                                        <p class="select__text">COD: <span>Modern</span> Warfare <span>II</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/gta5">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/OxajCeXr4HMumnHt3W6-7Cu6uqG5vjQS.png" alt="Grand <span>Theft</span> Auto <span>V</span>">
                                        <p class="select__text">Grand <span>Theft</span> Auto <span>V</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/dota2">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/joHk62SdhLgjHpM8UsFVbLBgpz4jYeXR.svg" alt="Dota <span>2</span> ">
                                        <p class="select__text">Dota <span>2</span> </p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/dbd">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/i6FjL4o1yVh7r0C0NDiG2664l-ucJPTU.png" alt="Dead <span>by</span> Daylight">
                                        <p class="select__text">Dead <span>by</span> Daylight</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/rainbow">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/pGSDlfv6a8lPZiupPtMy3TZXq-aiG7vI.svg" alt="Rainbow <span>Six</span>">
                                        <p class="select__text">Rainbow <span>Six</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/ve">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/yLWZk_lALVS2Mb1khDeMUkSX-FGPc0q5.png" alt="Veiled <span>Experts</span>">
                                        <p class="select__text">Veiled <span>Experts</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/battlebit">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/RrWKYpi9jVspBHlkl4BE4dIGEYJWXMf7.png" alt="BattleBit">
                                        <p class="select__text">BattleBit</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/speople">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/SATqEdh-lILdzVESaqWcegp9ybTFL9WJ.png" alt="Super <span>People</span>">
                                        <p class="select__text">Super <span>People</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/scum">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/V6zLY_JFt_oRJxRRXZgehNlTAzikdf-l.png" alt="Scum">
                                        <p class="select__text">Scum</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/deadside">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/ifuw7vxiHpBKjzjbwIbMf6goKSxsWvYG.png" alt="Dead <span>Side</span>">
                                        <p class="select__text">Dead <span>Side</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/pd3">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/LyqDujknI_29hgZ8GYihhBkfhNACU-eO.png" alt="Payday <span>3</span>">
                                        <p class="select__text">Payday <span>3</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/over2">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/1OQym7CkbPRLvwQNx9nEsu0_u5vFYh-T.png" alt="Overwatch <span>2</span>">
                                        <p class="select__text">Overwatch <span>2</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/pubgmobile">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/Eok8R_9njIFfeyWgnl1XAXBhVBqfKcLL.png" alt="PUBG <span>Mobile</span>">
                                        <p class="select__text">PUBG <span>Mobile</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/cycle">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/5npAsKqucq5kGT64gGDGPtl9NTWOb4AQ.png" alt="The <span>Cycle</span>">
                                        <p class="select__text">The <span>Cycle</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/farlight">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/K4vnNKEXR6Bt0rhR35q3Me0osndQCMWR.png" alt="Farlight <span>84</span>">
                                        <p class="select__text">Farlight <span>84</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/rogue">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/Ep_NahbHUINqJ5my8ojw7Jj_W8GmJps4.png" alt="Rogue <span>Company</span>">
                                        <p class="select__text">Rogue <span>Company</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/ark">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/Syn1NVR8C3oBD50xYYGVAjf62QhQwlRC.png" alt="ARK: <span>Survival</span> Evolved">
                                        <p class="select__text">ARK: <span>Survival</span> Evolved</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/world3">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/LWq4FyUxRt_VAJ8CaS7LdM08mrcqvSGB.png" alt="World <span>War</span> 3">
                                        <p class="select__text">World <span>War</span> 3</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/arma">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/NoedANRd0BmbbFiDqRaXJRpxT0NrLiPK.png" alt="Arma <span>3</span>">
                                        <p class="select__text">Arma <span>3</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/genshin">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/SwiVaGZsPUTJy1DBC0x2PmybBaL_45mE.png" alt="Genshin <span>Impact</span>">
                                        <p class="select__text">Genshin <span>Impact</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/squad">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/Y_r4L04X_5ZuRaY9d6nHfRGbl7MkADSZ.png" alt="Squad">
                                        <p class="select__text">Squad</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/hunt">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/yPdyRHIlh4CR5VRUrFER6jRz73F0tbnx.png" alt="Hunt: <span>Showdown</span>">
                                        <p class="select__text">Hunt: <span>Showdown</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/calibr">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/6k609Uxo9nT57QM0xpT_n8Qd9_SUSzJq.png" alt="Caliber">
                                        <p class="select__text">Caliber</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/bt2">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/vfwpMkql2KQQf9Zte4gY2NgRVwnocZgV.png" alt="Battle <span>Teams</span> 2">
                                        <p class="select__text">Battle <span>Teams</span> 2</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/albion">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/cJQOtL-unc_6lGugL0wVPitYNCnhA0pn.png" alt="Albion <span>Online</span>">
                                        <p class="select__text">Albion <span>Online</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/insurgency">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/tvQM5_IwPQtgoCXu6pUrIg5z1XLv26Xm.png" alt="Insurgency: <span>Sandstorm</span>">
                                        <p class="select__text">Insurgency: <span>Sandstorm</span></p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/hll">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/3yBA0mua8xcWglMZFucnECy6CANdYZjm.png" alt="Hell <span>Let</span> Loose">
                                        <p class="select__text">Hell <span>Let</span> Loose</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/dad">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/pBrKfJdDBt3EmZ9axEPJDoKyU_FqlBe9.png" alt="Dark <span>and</span> Darker">
                                        <p class="select__text">Dark <span>and</span> Darker</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/cf">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/EA1hdOug61llR6LAFqZJBfsaajCIB66Q.png" alt="CrossFire">
                                        <p class="select__text">CrossFire</p>
                                    </button>
                                </a>
                                                            <a class="select__link " href="/catalog/ll">
                                    <button class="select__button">
                                        <img width="20" height="20" class="select__logo" src="/sitefiles/Categories/VXxTQ_oQihAT90JY9SliXUELdWU7YgmY.png" alt="Lost <span>Light</span>">
                                        <p class="select__text">Lost <span>Light</span></p>
                                    </button>
                                </a>
                            
                        </div>
                        
                     </div>

                     <div class="select__end"></div>

                  </div>
               </section>

               <div class="select__games_width">
                  <div class="select__games">
﻿                                  
  <div class="select__games_width">
      <a class="games__link" href="/catalog/eft">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/p7sEj1Fola_fGSc0dZGpJpLqW5y6F4zJ.png" alt="Escape From Tarkov" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/a3K4VFAMH29JRVdjm7oUhEbY4HRxrd5D.png" alt="Escape <span>From</span> Tarkov">
                        </div>
                        <p class="games__logo_title">Escape <span>From</span> Tarkov<br><small>21 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        190₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/warzone2">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/_KP6LyXXnlIuZBPy74kWw-OcpL0Nm_oa.png" alt="Warzone 2.0" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/eoOfT3HkAZjGwWbTxsjioHag4M5GAtcI.png" alt="Warzone <span>2.0</span>">
                        </div>
                        <p class="games__logo_title">Warzone <span>2.0</span><br><small>5 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        239₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/warface">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/x-px1of4tzXR9WMDbMIjJgIwy2Lqafsb.png" alt="Warface" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/K26878HGyROWH2Jqyygy7yP94FK13S9P.png" alt="Warface">
                        </div>
                        <p class="games__logo_title">Warface<br><small>3 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        79₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/apex">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/E03wQl_tPlH5D8Xtm3EySIMNCLN6Xnhx.png" alt="Apex" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/SCN4on-lkqAgEnr3EniaM86n_YqWygLC.png" alt="Apex">
                        </div>
                        <p class="games__logo_title">Apex<br><small>10 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        89₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/valorant">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/4p0xRZk8F54qoMdOEqIFH-W8llanwF_m.png" alt="Valorant" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/HTLBQh_iZBRUNWUe6smxnOdc8r72zaVN.png" alt="Valorant">
                        </div>
                        <p class="games__logo_title">Valorant<br><small>6 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        199₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/rust">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/MSmBxX2IKRSrsRWD1CsOAJGWaLaxER9D.png" alt="Rust" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/PbDDI1CBwLjO4_Xdu-Vd1P_m7XIdPUy1.png" alt="Rust">
                        </div>
                        <p class="games__logo_title">Rust<br><small>8 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        79₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/cs2">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/ICUe7z-u6fndP45u_sh8ObXDolFxcDeU.jpg" alt="Counter Strike 2" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/s6IbQ0AYe9pn_lxM5bNdhLexqbohGMIK.png" alt="Counter <span>Strike</span> 2">
                        </div>
                        <p class="games__logo_title">Counter <span>Strike</span> 2<br><small>2 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        49₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/fortnite">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/JuKeIYl657XIJ0VW8277nsH3JoN5NbGj.png" alt="Fortnite" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/uKbMJ9WrIZmpS_orh73UZxIJg0sL_GgX.png" alt="Fortnite">
                        </div>
                        <p class="games__logo_title">Fortnite<br><small>4 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        189₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/war-thunder">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/6EZZN9PfieSW35-27-RjfDlqr91p4ppM.png" alt="War Thunder" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/RU_fcwsyIPi6wu0gjgjYbtoIVcjRIoMH.png" alt="War <span>Thunder</span>">
                        </div>
                        <p class="games__logo_title">War <span>Thunder</span><br><small>5 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        149₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/dayz">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/IAjpQmRr14cQKmCoQBSjC1AM2bDUv34d.png" alt="Dayz" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/3pGTbgi7ZVjagS3iFt57_e8koXIiZTe8.png" alt="Dayz">
                        </div>
                        <p class="games__logo_title">Dayz<br><small>13 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        190₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/marauders">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/m5usMz9y7QkQcA9l5hH7NqjaNieNQubL.jpg" alt="Marauders" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/4zayU9goqHtX4E8uO2uibiyQ4ALtDreL.png" alt="Marauders">
                        </div>
                        <p class="games__logo_title">Marauders<br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        390₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/pubg">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/Ub9hYOqooOBCLW1VYyUK3Ec1qoanhrZS.png" alt="PUBG" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/YG8noZllUNegewlLxSIgBeHh498J6DJr.png" alt="PUBG">
                        </div>
                        <p class="games__logo_title">PUBG<br><small>5 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        149₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/csgo">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/I8bDFqaCQiBOi5q1IlkMx5VAqvPfI0sS.png" alt="Counter-Strike: Global Offensive" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/kv4DCP009_wE4I2EYj4wkfKFEMDWzMHJ.png" alt="Counter-Strike: <span>Global</span> Offensive">
                        </div>
                        <p class="games__logo_title">Counter-Strike: <span>Global</span> Offensive<br><small>2 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        49₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/Unturned">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/Qo6fEjGAoPvhQCFkEXnVahFotsDCJbDt.png" alt="Unturned" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/1AH6tsOfE8E_VzZX9iZTfO7K28XJlnY5.png" alt="Unturned">
                        </div>
                        <p class="games__logo_title">Unturned<br><small>3 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        149₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/cod_mw2">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/t7012ldO5YL84DHMDLodx4dL31FMn7QN.png" alt="COD: Modern Warfare II" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/4f9PJsgVadXEzR7oTMxKCZ4OLCxzzrQF.png" alt="COD: <span>Modern</span> Warfare <span>II</span>">
                        </div>
                        <p class="games__logo_title">COD: <span>Modern</span> Warfare <span>II</span><br><small>4 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        239₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/gta5">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/b-E6pKsbTn2ldS7C4nll3x4bnOceNK6D.png" alt="Grand Theft Auto V" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/OxajCeXr4HMumnHt3W6-7Cu6uqG5vjQS.png" alt="Grand <span>Theft</span> Auto <span>V</span>">
                        </div>
                        <p class="games__logo_title">Grand <span>Theft</span> Auto <span>V</span><br><small>2 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        99₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/dota2">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/eUqBhQaFDPtFHrTXFBDADKyf6awhiGbo.png" alt="Dota 2 " width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/joHk62SdhLgjHpM8UsFVbLBgpz4jYeXR.svg" alt="Dota <span>2</span> ">
                        </div>
                        <p class="games__logo_title">Dota <span>2</span> <br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        89₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/dbd">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/19uBDCWrB4FS_8ehBNkTmJ2gLCKfAsWg.png" alt="Dead by Daylight" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/i6FjL4o1yVh7r0C0NDiG2664l-ucJPTU.png" alt="Dead <span>by</span> Daylight">
                        </div>
                        <p class="games__logo_title">Dead <span>by</span> Daylight<br><small>3 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        190₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/rainbow">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/tknkkWGtVnJROTbe-6XXXYKYet_iBsXE.png" alt="Rainbow Six" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/pGSDlfv6a8lPZiupPtMy3TZXq-aiG7vI.svg" alt="Rainbow <span>Six</span>">
                        </div>
                        <p class="games__logo_title">Rainbow <span>Six</span><br><small>3 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        129₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/ve">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/8or54ytjtvsb3IP2u8N65dS8ITveelPa.png" alt="Veiled Experts" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/yLWZk_lALVS2Mb1khDeMUkSX-FGPc0q5.png" alt="Veiled <span>Experts</span>">
                        </div>
                        <p class="games__logo_title">Veiled <span>Experts</span><br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        190₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/battlebit">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/S6xbx7v2CLr6Y3htrMfEHvFzAikfunfh.png" alt="BattleBit" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/RrWKYpi9jVspBHlkl4BE4dIGEYJWXMf7.png" alt="BattleBit">
                        </div>
                        <p class="games__logo_title">BattleBit<br><small>3 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        299₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/speople">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/5ausDhE4UkYueeCoSmQB6pO6jH602azK.png" alt="Super People" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/SATqEdh-lILdzVESaqWcegp9ybTFL9WJ.png" alt="Super <span>People</span>">
                        </div>
                        <p class="games__logo_title">Super <span>People</span><br><small>2 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        500₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/scum">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/HiQNfq9SdazfDVdKg1bJr1rJZ77D1DGD.png" alt="Scum" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/V6zLY_JFt_oRJxRRXZgehNlTAzikdf-l.png" alt="Scum">
                        </div>
                        <p class="games__logo_title">Scum<br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        399₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/deadside">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/EAPhfz28bNWngrxCuQfsaDEP6CI4AAqm.png" alt="Dead Side" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/ifuw7vxiHpBKjzjbwIbMf6goKSxsWvYG.png" alt="Dead <span>Side</span>">
                        </div>
                        <p class="games__logo_title">Dead <span>Side</span><br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        299₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/pd3">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/Mwzx_dW8EjOkoIqJHuGbwZDCwV_zsa3d.png" alt="Payday 3" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/LyqDujknI_29hgZ8GYihhBkfhNACU-eO.png" alt="Payday <span>3</span>">
                        </div>
                        <p class="games__logo_title">Payday <span>3</span><br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        290₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/over2">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/DEpEXcmPadAgDFDDPozxdbYVPn_QLCdP.png" alt="Overwatch 2" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/1OQym7CkbPRLvwQNx9nEsu0_u5vFYh-T.png" alt="Overwatch <span>2</span>">
                        </div>
                        <p class="games__logo_title">Overwatch <span>2</span><br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        390₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/pubgmobile">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/-VzXEK0LcD_MhjT_gzfB30fjO2B0FUqp.png" alt="PUBG Mobile" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/Eok8R_9njIFfeyWgnl1XAXBhVBqfKcLL.png" alt="PUBG <span>Mobile</span>">
                        </div>
                        <p class="games__logo_title">PUBG <span>Mobile</span><br><small>3 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        89₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/cycle">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/oTVj_5JUIJNGZIax5Lv7PzFBLibq4Fx3.png" alt="The Cycle" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/5npAsKqucq5kGT64gGDGPtl9NTWOb4AQ.png" alt="The <span>Cycle</span>">
                        </div>
                        <p class="games__logo_title">The <span>Cycle</span><br><small>4 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        190₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/farlight">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/JPl5fHcTArcC0N1wXdpu13fUlz9X37Su.png" alt="Farlight 84" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/K4vnNKEXR6Bt0rhR35q3Me0osndQCMWR.png" alt="Farlight <span>84</span>">
                        </div>
                        <p class="games__logo_title">Farlight <span>84</span><br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        290₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/rogue">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/mjGisURJ0B7iqVXYPBeGB0xQv5Uqd5Yl.png" alt="Rogue Company" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/Ep_NahbHUINqJ5my8ojw7Jj_W8GmJps4.png" alt="Rogue <span>Company</span>">
                        </div>
                        <p class="games__logo_title">Rogue <span>Company</span><br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        119₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/ark">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/1k4xdqie_0NsIAlnyZM6UL3H94DkrLYi.png" alt="ARK: Survival Evolved" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/Syn1NVR8C3oBD50xYYGVAjf62QhQwlRC.png" alt="ARK: <span>Survival</span> Evolved">
                        </div>
                        <p class="games__logo_title">ARK: <span>Survival</span> Evolved<br><small>0 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        0₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/world3">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/OzaVm_qBNZ_MlTwkAxRuuH1wZ-hyh5HL.png" alt="World War 3" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/LWq4FyUxRt_VAJ8CaS7LdM08mrcqvSGB.png" alt="World <span>War</span> 3">
                        </div>
                        <p class="games__logo_title">World <span>War</span> 3<br><small>2 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        164₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/arma">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/T3jnD8VLb2enCbitwjjWY78bP-5LlLWm.png" alt="Arma 3" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/NoedANRd0BmbbFiDqRaXJRpxT0NrLiPK.png" alt="Arma <span>3</span>">
                        </div>
                        <p class="games__logo_title">Arma <span>3</span><br><small>2 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        190₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/genshin">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/-khXe6RkDl25-eA90dY44AZO9HNBYBF2.png" alt="Genshin Impact" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/SwiVaGZsPUTJy1DBC0x2PmybBaL_45mE.png" alt="Genshin <span>Impact</span>">
                        </div>
                        <p class="games__logo_title">Genshin <span>Impact</span><br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        359₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/squad">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/BegVLdGyx9CNiIyZBazgkwswVnkE2Jf1.png" alt="Squad" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/Y_r4L04X_5ZuRaY9d6nHfRGbl7MkADSZ.png" alt="Squad">
                        </div>
                        <p class="games__logo_title">Squad<br><small>6 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        190₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/hunt">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/PsAibw3ZUcApOjdl_xQRroiYp3cJx52p.png" alt="Hunt: Showdown" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/yPdyRHIlh4CR5VRUrFER6jRz73F0tbnx.png" alt="Hunt: <span>Showdown</span>">
                        </div>
                        <p class="games__logo_title">Hunt: <span>Showdown</span><br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        189₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/calibr">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/NjYsktStxiIlXjupXGuytZDgL1vLjWr0.jpg" alt="Caliber" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/6k609Uxo9nT57QM0xpT_n8Qd9_SUSzJq.png" alt="Caliber">
                        </div>
                        <p class="games__logo_title">Caliber<br><small>2 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        149₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/bt2">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/CqxDqye_pgO2p29p-ngnNNCbtH_G9wqM.png" alt="Battle Teams 2" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/vfwpMkql2KQQf9Zte4gY2NgRVwnocZgV.png" alt="Battle <span>Teams</span> 2">
                        </div>
                        <p class="games__logo_title">Battle <span>Teams</span> 2<br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        299₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/albion">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/Sj6BKNGIqEfqT8YtQQI4FURuqiHK6s0z.png" alt="Albion Online" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/cJQOtL-unc_6lGugL0wVPitYNCnhA0pn.png" alt="Albion <span>Online</span>">
                        </div>
                        <p class="games__logo_title">Albion <span>Online</span><br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        299₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/insurgency">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/2ZRmCrAftYkSFQhMPtu4RzZBqdnVNUqA.png" alt="Insurgency: Sandstorm" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/tvQM5_IwPQtgoCXu6pUrIg5z1XLv26Xm.png" alt="Insurgency: <span>Sandstorm</span>">
                        </div>
                        <p class="games__logo_title">Insurgency: <span>Sandstorm</span><br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        449₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/hll">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/dC0Ya-xb0jJZYmozb2HyC2HK3nCPgFdE.png" alt="Hell Let Loose" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/3yBA0mua8xcWglMZFucnECy6CANdYZjm.png" alt="Hell <span>Let</span> Loose">
                        </div>
                        <p class="games__logo_title">Hell <span>Let</span> Loose<br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        349₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/dad">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/K4Em7scCqnOX-o5GRxntso0W5FSMepVO.png" alt="Dark and Darker" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/pBrKfJdDBt3EmZ9axEPJDoKyU_FqlBe9.png" alt="Dark <span>and</span> Darker">
                        </div>
                        <p class="games__logo_title">Dark <span>and</span> Darker<br><small>2 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        190₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/cf">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/b8CodviibbW7BaT0eIhilExXNn9Iik8d.png" alt="CrossFire" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/EA1hdOug61llR6LAFqZJBfsaajCIB66Q.png" alt="CrossFire">
                        </div>
                        <p class="games__logo_title">CrossFire<br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        99₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                                                 
  <div class="select__games_width">
      <a class="games__link" href="/catalog/ll">
         <div class="games__wrap">
            <div class="new_games-img">
               <div class="new_games-imgBefore"></div>
               <img class="games__image" src="/sitefiles/Categories/dNKyMhNJBGLGMOkpu5xb4bxmgtM9USbm.png" alt="Lost Light" width="318" height="380">
               <div class="new_games-footer d-flex ai-c">
                  <div>
                     <div class="games__wrapper_title-wrap mb-0 pb-0">
                        <div class="new_games-logo">
                           <img class="games__logo" src="/sitefiles/Categories/VXxTQ_oQihAT90JY9SliXUELdWU7YgmY.png" alt="Lost <span>Light</span>">
                        </div>
                        <p class="games__logo_title">Lost <span>Light</span><br><small>1 продуктов</small></p>
                     </div>
                  </div>
                  <div class="ml-auto">
                     <p class="games__wrapper_subtitle new_games-price">
                        <small>от</small><br>
                        219₽                     </p>
                  </div>
               </div>
            </div>
         </div>
      </a>
   </div>


                                         
                  </div>
                  <div class="select__wrapper" style="color: #fff;border-bottom: 0;padding-bottom: 0;margin-bottom: 0;">
                                       </div>
               </div>
            </section>