@{
    Layout = "_Layout";
}
<section>
   <section class="select">
      <div class="select__container acc_height">
            <div class="nav_wrapper">
                <div class="nav__scroll">
                     <div class="select__navigation nav_block">
                        <a class="select__link" href="/">
                           <p class="select__navigation_text">Main</p>
                        </a>
                        <img class="select__arrow_gray" src="/tpl/static/media/select__arrow_gray.9aba3756.svg" alt="arrow">
                                                                                                                <a href="javascript:void(0)" style="cursor:default;" class="select__link">
                                    <p class="select__navigation_text">
                                                                                                                                    FAQ & HELP                                                                                                                        </p>
                                </a>
                                                                         </div>
                </div>
            </div>
         <div class="select__wrap_grey">
            <div class="select__wrapper_center_gray">
               <div class="select__wrapper_title">
                  <p class="select__title">FAQ & HELP</p>
               </div>
               <p class="select__subtitle">Be sure to update and download all drivers And Required Programs </p>
            </div>
         </div>
         
      </div>
   </section>

   <br><br><br><br>
               
   <div class="product__container" style="border-bottom: 0px;">

                                 
            <div style="max-width: 1320px;margin: 0 auto;margin-bottom: 40px;" class="d-block">
                                 <h2 class="select__title d-block h2block">RECOMMENDED DRIVERS</h2>
                           </div>
            <br>

            <div class="product__wrap_grid">

                                                                     <section>
                        <a class="product__link"  href="https://www.google.com/search?q=driverpack+solution&oq=driverpack" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/081eb98589d156db712b092adb0fd9261075d90c.webp" alt="Driver<br>Pack">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">Driver<br>Pack</b>
                                          <span style="color:#7a7a7a;">INSTALL ALL DRIVERS</span>
                                       </div>
                                    </div>
                                    <button class="product__button">Download</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                       <section>
                        <a class="product__link"  href="https://www.amd.com/ru/support" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/b44ee187eea5964a554d3016a7dd59ca64491891.webp" alt="AMD">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">AMD</b>
                                          <span style="color:#7a7a7a;">ОБНОВЛЕНИЕ ВИДЕО ДРАЙВЕРА</span>
                                       </div>
                                    </div>
                                    <button class="product__button">Download</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                       <section>
                        <a class="product__link"  href="" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/747cb116a2d35aa991b15befb889f1ae52156f52.webp" alt="NVIDIA">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">NVIDIA</b>
                                          <span style="color:#7a7a7a;">ОБНОВЛЕНИЕ ВИДЕО ДРАЙВЕРА</span>
                                       </div>
                                    </div>
                                    <button class="product__button">Download</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                       <section>
                        <a class="product__link"  href="https://www.microsoft.com/ru-ru/download/details.aspx?id=56480&6B49FDFB-8E5B-4B07-BC31-15695C5A2143=1" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/5ec25a96fd94545f13f7d362a6eca9c68d1bebdf.webp" alt="Microsoft Net Framework 4.7.1">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">Microsoft Net Framework 4.7.1</b>
                                          <span style="color:#7a7a7a;">ПАКЕТ С КОМПОНЕНТАМИ</span>
                                       </div>
                                    </div>
                                    <button class="product__button">Download</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                       <section>
                        <a class="product__link" target="_blank" href="https://download.microsoft.com/download/1/7/1/1718CCC4-6315-4D8E-9543-8E28A4E18C4C/dxwebsetup.exe" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/63f4156fbfa36051dccb737b50f5a5bf552803e9.webp" alt="DirectX<br>12">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">DirectX<br>12</b>
                                          <span style="color:#7a7a7a;">ПАКЕТ С КОМПОНЕНТАМИ</span>
                                       </div>
                                    </div>
                                    <button class="product__button">Download</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                       <section>
                        <a class="product__link" target="_blank" href="https://www.techpowerup.com/download/visual-c-redistributable-runtime-package-all-in-one/" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/1e2c09438944be6b711e24aebe0f0587d7a6b3e0.webp" alt="Microsoft Visual C++ 2005-2022">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">Microsoft Visual C++ 2005-2022</b>
                                          <span style="color:#7a7a7a;">ПАКЕТ С КОМПОНЕНТАМИ</span>
                                       </div>
                                    </div>
                                    <button class="product__button">Download</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                 
               

            </div>

                        <div class="pblock" style="max-width: 1320px;color:#fff;margin: 0 auto;margin-bottom: 40px;margin-top: 40px;" class="d-block">
               <p>Also, if you have installed anti-readers like FaceIt or ESEA, you should definitely uninstall them! If you have Valorant installed on your computer, remove Riot Guard (This point is for Сheats for all games except Valorant)</p>
            </div>
            
                     
            <div style="max-width: 1320px;margin: 0 auto;margin-bottom: 40px;margin-top: 30px;" class="d-block">
                                 <h2 class="select__title d-block h2block">SECURITY SHUTDOWN</h2>
                           </div>
            <br>

            <div class="product__wrap_grid">

                                                                     <section>
                        <a class="product__link"  href="https://www.youtube.com/watch?v=RjwT85icNHg" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/6a96cc230faa972afdf3d19a185e9e536e868029.webp" alt="Отключить Secure Boot в bios">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">Отключить Secure Boot в bios</b>
                                          <span style="color:#7a7a7a;"></span>
                                       </div>
                                    </div>
                                    <button class="product__button">Смотреть</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                       <section>
                        <a class="product__link"  href="https://learn.microsoft.com/ru-ru/windows/deployment/mbr-to-gpt?source=recommendations" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/6eb9279896b1bc95e6cab0771c50d6988c37914e.webp" alt="Включить UEFI в BIOS">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">Включить UEFI в BIOS</b>
                                          <span style="color:#7a7a7a;"></span>
                                       </div>
                                    </div>
                                    <button class="product__button">Смотреть</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                       <section>
                        <a class="product__link"  href="" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/43080de6d238b77d6488bfc15e985cdb3a708701.webp" alt="Учетные записи с авто отключением (UAC)">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">Учетные записи с авто отключением (UAC)</b>
                                          <span style="color:#7a7a7a;"></span>
                                       </div>
                                    </div>
                                    <button class="product__button">Download</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                       <section>
                        <a class="product__link"  href="https://www.softportal.com/software-43861-defender-control.html" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/1a8e0c94b51c236dbccf6b86b3c495a5c334fa5b.webp" alt="Управление защитником Windows">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">Управление защитником Windows</b>
                                          <span style="color:#7a7a7a;"></span>
                                       </div>
                                    </div>
                                    <button class="product__button">Смотреть</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                       <section>
                        <a class="product__link"  href="https://yadi.sk/d/WnIQNa5k3TLPsq" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/f18cfbd7881eb69d829699fb0fdb194931c9c314.webp" alt=" Авто выключение Windows Smart Screen">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;"> Авто выключение Windows Smart Screen</b>
                                          <span style="color:#7a7a7a;"></span>
                                       </div>
                                    </div>
                                    <button class="product__button">Download</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                 
               

            </div>

            
                     
            <div style="max-width: 1320px;margin: 0 auto;margin-bottom: 40px;margin-top: 30px;" class="d-block">
                                 <h2 class="select__title d-block h2block">SUPPORT PROGRAMS</h2>
                           </div>
            <br>

            <div class="product__wrap_grid">

                                                                     <section>
                        <a class="product__link"  href="" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/a93a79abc6feada9063b73e2f7ccbebabbbf80ed.webp" alt="Удаленный доступ RuDesk">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">Удаленный доступ RuDesk</b>
                                          <span style="color:#7a7a7a;"></span>
                                       </div>
                                    </div>
                                    <button class="product__button">Download</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                       <section>
                        <a class="product__link"  href="https://app.prntscr.com/en/index.html" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/14c3e9b7b5b2c0a41fa2fcfadd980fedf2e6997e.webp" alt="Скриншот вашей проблемы">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">Скриншот вашей проблемы</b>
                                          <span style="color:#7a7a7a;"></span>
                                       </div>
                                    </div>
                                    <button class="product__button">Download</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                       <section>
                        <a class="product__link"  href="https://www.win-rar.com/start.html?&L=4" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/250103013d52517340b0ad16238884babd422e97.webp" alt=" Работа с WinRar архивами">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;"> Работа с WinRar архивами</b>
                                          <span style="color:#7a7a7a;"></span>
                                       </div>
                                    </div>
                                    <button class="product__button">Download</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                 
               

            </div>

            
                     
            <div style="max-width: 1320px;margin: 0 auto;margin-bottom: 40px;margin-top: 30px;" class="d-block">
                                 <h2 class="select__title d-block h2block">If your problem has not been solved, contact Technical Support!</h2>
                           </div>
            <br>

            <div class="product__wrap_grid">

                                                                     <section>
                        <a class="product__link"  href="" style="color: #fff;">
                           <div class="product__wrap">
                              <div class="product__wrapper">

                                 <div class="product__wrapper_width" style="border-radius: 12px;margin-bottom: 30px;">
                                    <div class="d-flex ai-c" style="min-height: 88px;">
                                                                                                                           <img style="margin-right:20px" src="/sitefiles/FaqItems/0232d6360e582d1256c9525baf63f3a8ddbec019.png" alt="Техподдержка">
                                                                              <div>
                                          <b style="font-size:20px;margin-bottom:5px;display: block;">Tech Support</b>
                                          <span style="color:#7a7a7a;"></span>
                                       </div>
                                    </div>
                                    <button class="product__button">Обратиться</button>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </section>
                                 
               

            </div>

            
                  </div>

   <div class="select__wrapper" style="color: #fff;border-bottom: 0;padding-bottom: 0;margin-bottom: 0;">
         </div>
      
</section>